@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

/* GENERAL STYLES */
.container, container-fluid {
    width: 80%;
    height: 100%;
    background-color: /*#efefef*/#222;
}

[class*="col-"] {
    padding-top: 15px;
    padding-bottom: 15px;
}
/* END GENERAL STYLES */

/* text styles */
.fancy {
    font-family: 'EB Garamond', serif;
    font-style: italic;
    font-size: 16pt;
}

h1 {
    font-family: 'Marriweather Sans', sans-serif;
    font-size: 6em;
    font-weight: 600;
    color: /*#efefef*/ white;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    margin-top: 0;
    text-shadow: -0.05em 0 0 #F22613,  0.05em 0 0 #00FFFF;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: 3pt;
    color: /*#efefef*/ #666;
}

a, a:hover {
    color: white;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid white;
}

.cmyk {
    text-shadow: 0.25rem -0.25rem  0.0rem rgba(255, 0, 255, 0.75), 
        -0.25rem -0.25rem 0.0rem rgba(0, 255, 255, 0.75), 
        0 0.5rem 0.0rem rgba(255, 255, 0, 0.75);
}
/* end text styles */

/* NAVBAR */
.navbar {
    background-image: none;
    background-color: rgba(255,255,255,0.0);
    border: none;
    outline: none;
    border-radius: 0;
    position: fixed;
    z-index: 11;
    width: 100%;
    margin-top: 0;
    top: 0;
    transition: top 0.2s ease-in-out;
}
.navbar-fixed-top .navbar-nav > li > a:hover {
    color: black;
    background-color: rgba(255,255,255,0.5);
    border: none;
}
.navbar-header {
    display: none;
}
.navbar-header > a {
    color: white;
    font-size: 16pt;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: all 0.5s ease;
}
.navbar-fixed-top.scrolled > .navbar-header, .navbar-header > a{
    color: #FF4B3B;
    display: block;
}
.navbar-fixed-top.scrolled .navbar-nav > li > a:hover {
    color: white;
    background-color: rgba(0,0,0,0.5);
}
.navbar.scrolled .nav > li > a {
    color: black;
}
.navbar.scrolled .SearchIcon {
    color: #000;
}
.navbar.scrolled .SearchButton:hover .SearchIcon {
    color: #fff;
}
.navbar.scrolled .SearchButton:hover {
    background-color: #FF4B3B;
}
.navbar.scrolled .input-group {
    width: 55%;
}
.nav-up {
    top: -50px; /* same as header height. use variables in LESS/SASS */
}
.nav.past-main {
    background-color:#fff;
    color:#444;
}
li {
    font-family: 'Open Sans', sans-serif;
}
.navbar .nav > li > a {
    color: white;
}
.navbar-right {
    margin-right: 10px;
}
.SearchIcon {
    color:#fff;
}
.SearchButton {
    background-color: transparent;
    border-radius: 0px;
    height: 50px;
    width: 50px
}
.SearchButton:hover {
    background-color:#fff;
}
.SearchButton:hover > .SearchIcon {
    color:#000;
}
.SearchBar {
    background: transparent;
    border-radius: none;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0px;
    height: 50px;
}
.input-group {
    width: 69%;
    top: 0px;
    height: 100%;
    padding: 0;
    margin: 0;
}
/* END NAVBAR */

/* HERO/COVER PAGE */
.parallax {
    /* background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent; */
    overflow: hidden;
    height: 100vh;
}
.parallaximg {
    filter: brightness(50%);
    position: relative;
    width: 100%;
}

/*header in hero */
.mainhead {
    color:#fff; 
    /* text-shadow: 3px 5px #FF4B3B, 6px 5px #3befff, 10px 10px 10px rgba(0,0,0,0.5); */
    text-shadow: 3px 3px #FF4B3B, 10px 10px 10px rgba(0,0,0,0.5);
    font-size: 8em;
    font-family: 'Fredoka One', sans-serif;
}
section {
    position: absolute;
    z-index: 10;
    top: -95vh;
    /*animation: 1s ease 0s 1 slideInFromLeft;*/
    animation: 1s ease-out 0s 1 slideInFromTop;
}
/* end header */

/* caption in header */
.imgtxt {
    position: absolute;
    top: 15%;
    letter-spacing: 3pt;
    color: white;
    font-size: 18pt;
    background-color: rgba(0,0,0,0.0);
    /*border-right: 15px solid #FF4B3B;*/
    /* box-shadow: 10px 10px 10px rgba(0,0,0,0.5); */
}
/* end caption*/

/* SCROLL INDICATOR */
.chevcont {
    position: absolute;
    top: 90vh;
    left: 50%;
    width: 24px;
    height: 24px;
    z-index: 30;
}
.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}
.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}
.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}
.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}
.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}
.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}
@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}
.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}
@keyframes pulse {
    to {
        opacity: 1;
    }
}
/* END SCROLL INDICATOR */
/* END HERO/COVER PAGE*/

/* MAIN TEXT SECTIONS */
/* HEADER */
header {
    color:white;
    text-align:center;
    background: #FF4B3B; margin: 0; padding: 2% 2% 10%;
    position: absolute;
    width: 100%;

    clip-path: polygon(
    0 0,
    200% -0%,
    50% 60%,
    0% 40%
    );
    transition: all 1s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}
/*header:active {
padding-bottom: 100vh;
position: absolute;
width: 100%;
z-index: 0;
clip-path: polygon(
0 0,
200% -0%,
80% 20%,
0% 20%
);
}*/
/* END HEADER */

/* BODY TEXT */
body {
    background-color: #222;
    position: relative;
    height: 100%;
    min-height: 500px;
    font-family: 'PT Sans', sans-serif;
    font-size: 16px;
    color: #fff;
}

.bodypg {
    margin-top: 13%;
    line-height: 1.5em;
    letter-spacing: 0.5pt;
}

blockquote {
    border-left: 15px solid #FF4B3B;
    border-right: 5px solid #FF4B3B;
    /* box-shadow: 2px 2px 15px rgba(0,0,0,0.5);*/
    background-color: white;
    z-index: -5;
    color: #666;
}
/* END BODY TEXT */

/* IMAGES */
.img {
    height: 60vh;
    object-fit: cover;
}
.imgcaption {
    background-color: #222;
    border-left: 15px solid #FF4B3B;
    border-right: 5px solid #FF4B3B;
    height: 100vh;
    /* box-shadow: 2px 2px 15px rgba(0,0,0,0.5); */
}
/* END IMAGES */
/* END MAIN TEXT SECTIONS */

/* FOOTER */
.footer {
    background-color: #FF4B3B;
    color: white;
}
/* END FOOTER */